# Logs
*.log
firebase-debug.log

# IDE
.vscode/
.idx/

# OS
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example

# Dependencies
node_modules/
dist/
.output/
.vercel/
.next/
